<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>

      <add key="AppName" value="云立方智慧工位机实训系统"/>
      <add key="SocketIP" value="127.0.0.1" />
      <add key="SocketPort" value="5183" />
      <add key="FaceGroupId" value="group01" />
      <add key="MachineID" value="WID0035"/>
      <add key="IsOnline" value="true" />
      <add key="IsSpeech" value="false" />
      <add key="VRShow" value="false" />
    </appSettings>
</configuration>